// Green palette

// Zinnwaldite Brown
$darkGreen: #233000;
// Bronze Yellow
$middleGreen: #5e6600;
// Apple Green
$Green: #9caa00;
// Alabaster
$lightGreen: #ebf0e4;

// Gray palette

// Black
$black: #000000;
// Dark Liver
$darkGray: #4d4d4d;
// Silver Foil
$gray: #b0b0b0;
// White
$white: #ffffff;
