@import "colors";
@import "mixins";
@import "reset";
@import "typography";

/* Default font size */

html {
  font-size: 62.5%;
}

.main-container {
  max-width: 1920px;

  /* Header styling */

  & .header-section {
    background-image: url(../assets/images/about-page/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    & .header-container {
      padding: 46px 138px 47px 138px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .logo-container {
        display: flex;
        align-items: center;
        gap: 69px;
      }
      & .logo-container > img {
        width: 307px;
        height: 115px;
        margin-left: -20px;
      }
      & .hamburger-menu {
        display: flex;
        gap: 14px;
        flex-direction: column;
        & > div {
          border: 2px solid $white;
          width: 46px;
        }
      }
      & .right-container {
        display: flex;
        align-items: center;
        gap: 26px;
        & .header-phone {
          @include fontStyle("Inter", 400, 26px, 31px, $white);
        }
        & > a {
          @include fontStyle($rufina, 700, 32px, 48px, $white);
          padding: 20px 46px;
          border: 2px solid $white;
          text-decoration: none;
        }
      }
    }
    & .hero-container {
      padding: 202px 219px 372px 138px;
      display: flex;
      justify-content: flex-end;
      &__heading {
        @include fontStyle($rufina, 700, 14.8rem, 15.2rem, $white);
      }
      &__text {
        @include fontStyle($rufina, 700, 3.2rem, 4.8rem, $white);
        margin-top: 50px;
        max-width: 915px;
      }
    }
  }

  /* Story section styling */

  & .story-section {
    padding: 218px 138px 117px 215px;
    background-image: url(../assets/images/about-page/tomato-vector.png);
    background-repeat: no-repeat;
    background-position: left 42% top 94px;
    display: flex;
    gap: 107px;
    &__text-container {
      max-width: 668px;
      margin-top: 233px;
      &--heading {
        @include fontStyle($rufina, 700, 10.8rem, 12rem, $black);
      }
      &--text {
        @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
        margin-top: 18px;
      }
    }
    &__image-container {
      & > img {
        width: 100%;
      }
    }
  }

  /* Staff section styling */

  & .staff-section {
    padding: 162px 176px 299px 171px;
    display: flex;
    gap: 121px;
    & .staff-container-left {
      &__header-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--heading {
          @include fontStyle($rufina, 700, 6.8rem, 8.4rem, $black);
        }
        &--title {
          @include fontStyle($lato, 400, 2.4rem, 140%, $black);
          margin-top: 24px;
        }
      }
      &__image-container {
        margin-top: 24px;
        & > img {
          width: 100%;
        }
      }
      &__text-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 449px;
        &--text {
          @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
          max-width: 510px;
          text-align: right;
        }
      }
    }
    & .staff-container-right {
      &__text-container {
        margin-top: 160px;
        & > p {
          @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
          max-width: 510px;
        }
      }
      &__header-container {
        margin-top: 329px;
        text-align: center;
        &--heading {
          @include fontStyle($rufina, 700, 6.8rem, 8.4rem, $black);
        }
        &--title {
          @include fontStyle($lato, 400, 2.4rem, 140%, $black);
          margin-top: 24px;
        }
      }
      &__image-container {
        margin-top: 24px;
        & > img {
          width: 100%;
        }
      }
    }
  }

  /* Video section styling */

  & .video-section {
    background-image: url(../assets/images/about-page/content-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    &-background {
      padding: 238px 454px 404px 454px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $darkGreen;
      opacity: 0.7;
      & .video-section--header {
        @include fontStyle($rufina, 700, 10.8rem, 12rem, $white);
      }
      & .video-section--title {
        @include fontStyle($lato, 400, 2.4rem, 140%, $white);
        margin-top: 18px;
      }
      & > img {
        margin-top: 82px;
      }
    }
  }

  /* Process section styling */

  & .process-section {
    padding: 267px 138px 320px 138px;
    background-image: url(../assets/images/about-page/rosemary-01.png),
      url(../assets/images/about-page/rosemary.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom 32px left;
    &__heading {
      @include fontStyle($rufina, 700, 10.8rem, 12rem, $black);
      text-align: center;
    }
    & .process-container-one {
      display: flex;
      gap: 102px;
      margin-top: 174px;
      &__image-container {
        & > img {
          width: 100%;
        }
      }
      &__text-container {
        &--heading {
          @include fontStyle($rufina, 700, 8.8rem, 120%, $black);
        }
        &--text {
          @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
          max-width: 616px;
        }
      }
    }
    & .process-container-two {
      display: flex;
      margin-top: 118px;
      padding-left: 71px;
      gap: 274px;
      &__container-left,
      &__container-right {
        display: flex;
        flex-direction: column;
        & > img {
          width: 100%;
        }
        &--heading {
          @include fontStyle($rufina, 700, 8.8rem, 120%, $black);
        }
        &--text {
          @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
          margin-top: 28px;
        }
      }
      &__container-left {
        margin-top: 154px;
        & > img {
          margin-top: 46px;
        }
      }
      &__container-right {
        &--heading {
          margin-top: 46px;
        }
      }
    }
  }

  /* Reservation section styling */

  .reservation-container {
    padding: 237px 138px 254px 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGreen;
    &__heading {
      @include fontStyle($rufina, 700, 10.8rem, 12rem, $black);
    }
    &__title {
      @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
      margin-top: 18px;
    }
    & .reservation-form {
      margin-top: 133px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 133px;
      &__input-container {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        & > input,
        & > select {
          width: 516px;
          height: 96px;
          border: 2px solid $black;
          background: transparent;
          @include fontStyle($lato, 400, 2.4rem, 140%, $black);
          padding-left: 40px;
        }
        & input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          display: none;
          -moz-appearance: none;
          -webkit-appearance: none;
        }
        & > select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: transparent;
          background-image: url(../assets/icons/angle-down-dark-icon.svg);
          background-repeat: no-repeat;
          background-position-x: calc(100% - 40px);
          background-position-y: 50%;
          .option-style {
            background-color: $lightGreen;
            font-style: $lato;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }
      }
      & > button {
        width: 344px;
        height: 80px;
        background-color: $darkGreen;
        border: 2px solid $black;
        @include fontStyle($rufina, 700, 3.2rem, 4.8rem, $white);
      }
    }
  }
  .footer-up__container {
    display: flex;
    background-color: $darkGreen;
    padding: 132px 138px 137px 138px;
    justify-content: space-between;
    align-items: center;
    &--heading {
      @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $white);
    }
    & .footer-up__menu {
      list-style: none;
      &-item--01 {
        @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
      }
      &-item {
        @include fontStyle("Lato", 400, 1.8rem, 2.5rem, $white);
      }
      &-item-02 {
        margin-top: 55px;
      }
      &-item-03 {
        margin-top: 28px;
      }
    }
    & .footer-up__subscribe-container {
      &--title {
        @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
      }
      & > input {
        width: 522px;
        height: 96px;
        border: 2px solid $white;
        background-color: $darkGreen;
        padding-left: 40px;
        margin-top: 55px;
        margin-right: 28px;
        outline: none;
        @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
        &:placeholder-shown {
          @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
        }
      }
      & > button {
        width: 241px;
        height: 88px;
        background-color: $middleGreen;
        border: none;
        @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
      }
      &-text {
        @include fontStyle("Lato", 400, 1.4rem, 1.7rem, $white);
        margin-top: 15px;
      }
    }
  }

  .footer-down__container {
    border-top: 2px dashed $white;
    background-color: $darkGreen;
    display: flex;
    justify-content: space-between;
    padding: 58px 162px 74px 138px;
    & > p {
      @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
    }
    & .footer__social-container {
      display: flex;
      gap: 28px;
    }
  }
}
