@import "colors";
@import "mixins";
@import "reset";
@import "typography";

/* Default font size */

html {
  font-size: 62.5%;
}

.main-container {
  max-width: 1920px;

  /* Header styling */

  & .header-section {
    background-image: url(../assets/images/contact-page/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    & .header-container {
      padding: 46px 138px 47px 138px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .logo-container {
        display: flex;
        align-items: center;
        gap: 69px;
      }
      & .logo-container > img {
        width: 307px;
        height: 115px;
        margin-left: -20px;
      }
      & .hamburger-menu {
        display: flex;
        gap: 14px;
        flex-direction: column;
        & > div {
          border: 2px solid $white;
          width: 46px;
        }
      }
      & .right-container {
        display: flex;
        align-items: center;
        gap: 26px;
        & .header-phone {
          @include fontStyle("Inter", 400, 26px, 31px, $white);
        }
        & > a {
          @include fontStyle($rufina, 700, 32px, 48px, $white);
          padding: 20px 46px;
          border: 2px solid $white;
          text-decoration: none;
        }
      }
    }
    & .hero-container {
      padding-top: 207px;
      padding-left: 138px;
      padding-bottom: 130px;
      padding-right: 138px;
      display: flex;
      flex-direction: column;
      gap: 98px;
      &__heading-container {
        &--heading {
          @include fontStyle($rufina, 700, 14.8rem, 15.2rem, $white);
        }
        &--text {
          @include fontStyle($rufina, 700, 3.2rem, 4.8rem, $white);
          margin-top: 50px;
        }
      }
      &__time-container {
        align-self: flex-end;
        & .container-up {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 38px;
          border-bottom: 2px dashed $white;
          &__text-left {
            @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
          }
          &__text-right {
            @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
          }
        }
        & .container-down {
          display: flex;
          justify-content: space-between;
          gap: 133px;
          padding-top: 38px;
          & > ul {
            list-style: none;
            @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
          }
        }
      }
    }
  }

  .content-section {
    padding: 272px 138px 185px 138px;
    &__container-up {
      display: flex;
      gap: 202px;
      &--image-container {
        & > img {
          width: 100%;
        }
      }
      &--text-container {
        margin-top: 20%;
        & > p {
          @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $darkGreen);
        }
        & span {
          color: $Green;
        }
      }
    }
    &__container-down {
      display: flex;
      align-items: center;
      margin-top: 145px;
      &--text-container {
        margin-right: 60px;
        & > p {
          @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $darkGreen);
        }
        & > a {
          border: 2px solid $darkGreen;
          display: flex;
          width: 293px;
          height: 88px;
          @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $black);
          text-decoration: none;
          justify-content: center;
          align-items: center;
          margin-top: 53px;
        }
      }
      &--image-container {
        & > img {
          width: 100%;
        }
      }
    }
  }

  /* Reservation section styling */

  .reservation-container {
    padding: 214px 138px 254px 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGreen;
    background-image: url(../assets/images/contact-page/mint.png);
    background-position: top 50px left 159px;
    background-repeat: no-repeat;
    &__heading-container {
      &--heading {
        @include fontStyle($rufina, 700, 10.8rem, 12rem, $black);
      }
      &--title {
        @include fontStyle($lato, 400, 2.4rem, 140%, $darkGray);
        text-align: left;
        margin-top: 18px;
      }
    }
    & .reservation-form {
      margin-top: 133px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 133px;
      &__input-container {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        & > input,
        & > select {
          width: 779px;
          height: 96px;
          border: 2px solid $black;
          background: transparent;
          @include fontStyle($lato, 400, 2.4rem, 140%, $black);
          padding-left: 40px;
        }
        & input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          display: none;
          -moz-appearance: none;
          -webkit-appearance: none;
        }
        & > select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: transparent;
          background-image: url(../assets/icons/angle-down-dark-icon.svg);
          background-repeat: no-repeat;
          background-position-x: calc(100% - 40px);
          background-position-y: 50%;
          .option-style {
            background-color: $lightGreen;
            font-style: $lato;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }
        & .email {
          display: block;
          width: 100%;
        }
        & .phone {
          display: block;
          width: 100%;
        }
        & .person {
          display: block;
          width: 100%;
        }
      }
      & > button {
        width: 344px;
        height: 80px;
        background-color: $middleGreen;
        border: 2px solid $black;
        @include fontStyle($rufina, 700, 3.2rem, 4.8rem, $white);
        margin-top: 82px;
      }
    }
  }
  .footer-up__container {
    display: flex;
    background-color: $darkGreen;
    padding: 132px 138px 137px 138px;
    justify-content: space-between;
    align-items: center;
    &--heading {
      @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $white);
    }
    & .footer-up__menu {
      list-style: none;
      &-item--01 {
        @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
      }
      &-item {
        @include fontStyle("Lato", 400, 1.8rem, 2.5rem, $white);
      }
      &-item-02 {
        margin-top: 55px;
      }
      &-item-03 {
        margin-top: 28px;
      }
    }
    & .footer-up__subscribe-container {
      &--title {
        @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
      }
      & > input {
        width: 522px;
        height: 96px;
        border: 2px solid $white;
        background-color: $darkGreen;
        padding-left: 40px;
        margin-top: 55px;
        margin-right: 28px;
        outline: none;
        @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
        &:placeholder-shown {
          @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
        }
      }
      & > button {
        width: 241px;
        height: 88px;
        background-color: $middleGreen;
        border: none;
        @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
      }
      &-text {
        @include fontStyle("Lato", 400, 1.4rem, 1.7rem, $white);
        margin-top: 15px;
      }
    }
  }

  .footer-down__container {
    border-top: 2px dashed $white;
    background-color: $darkGreen;
    display: flex;
    justify-content: space-between;
    padding: 58px 162px 74px 138px;
    & > p {
      @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
    }
    & .footer__social-container {
      display: flex;
      gap: 28px;
    }
  }
}
