// Import different SCSS files for styles

@import "colors";
@import "mixins";
@import "reset";
@import "typography";

/* Default font size */

html {
  font-size: 62.5%;
}

.main-container {
  max-width: 1920px;

  /* Header styling */

  & .header-section {
    background-color: $darkGreen;
    & .header-container {
      padding: 46px 138px 47px 138px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .logo-container {
        display: flex;
        align-items: center;
        gap: 69px;
      }
      & .logo-container > img {
        width: 307px;
        height: 115px;
        margin-left: -20px;
      }
      & .hamburger-menu {
        display: flex;
        gap: 14px;
        flex-direction: column;
        & > div {
          border: 2px solid $white;
          width: 46px;
        }
      }
      & .right-container {
        display: flex;
        align-items: center;
        gap: 26px;
        & .header-phone {
          @include fontStyle("Inter", 400, 26px, 31px, $white);
        }
        & > a {
          @include fontStyle("Rufina", 700, 32px, 48px, $white);
          padding: 20px 46px;
          border: 2px solid $white;
          text-decoration: none;
        }
      }
    }
    & .hero-container {
      padding: 102px 138px 222px 138px;
      &__up {
        display: flex;
        position: relative;
        &--text-container {
          z-index: 2;
          &-heading {
            @include fontStyle("Rufina", 700, 14.8rem, 152px, $white);
            max-width: 1057px;
          }
          &-title {
            @include fontStyle("Lato", 400, 24px, 140%, $white);
            margin-top: 50px;
            max-width: 565px;
          }
          & .scroll-container {
            transform: rotate(90deg) translateY(-50%);
            position: absolute;
            display: flex;
            align-items: center;
            gap: 18px;
            left: -281px;
            top: 907px;
            & > P {
              @include fontStyle("Rufina", 700, 48px, 64px, $white);
            }
            & img {
            }
          }
        }
        & > .hero-stake-img {
          position: absolute;
          top: 124px;
          right: 0;
        }
        & .hero-spice-img {
          width: 26rem;
          height: 24rem;
          z-index: 10;
          position: absolute;
          top: 880px;
        }
        & .spice-01 {
          right: 853px;
        }
        & .spice-02 {
          right: 569px;
        }
        & .spice-03 {
          right: 285px;
        }
      }
      &__down {
        display: flex;
        margin-top: 761px;
        gap: 344px;
        &--left {
          &--heading {
            @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $white);
            max-width: 49.3rem;
            margin-top: 54px;
          }
          &--text {
            @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
            max-width: 56.5rem;
            margin-top: 5.4rem;
          }
          & > img {
            width: 100%;
          }
        }
        &--right {
          &--text {
            @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
            max-width: 50.8rem;
          }
          & > img {
            margin-top: 84px;
            width: 100%;
          }
        }
      }
    }
  }
  & .menu-container {
    background-color: $white;
    background-image: url(../assets/images/bg-01.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 176px 138px 218px 138px;
    &__header {
      &--heading {
        @include fontStyle("Rufina", 700, 10.8rem, 12rem, $black);
      }
      &--title {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
        max-width: 532px;
      }
    }
    & .menu-container__items {
      margin-top: 158px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(729px, 1fr));
      column-gap: 60px;
      row-gap: 108px;
      &--item {
        max-width: 729px;
        display: flex;
        flex-direction: column;
        &--price {
          @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $black);
          align-self: flex-end;
        }
        & > img {
          margin-top: 12px;
        }
        &--name {
          @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $black);
          margin-top: 24px;
        }
        &--text {
          @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
          margin-top: 24px;
        }
      }
    }
  }
  & .cook-container {
    display: flex;
    padding: 222px 138px 0 138px;
    background-color: $lightGreen;
    position: relative;
    height: 1130px;
    & > img {
      bottom: 0;
      left: 120px;
      position: absolute;
    }
    &__text {
      max-width: 649px;
      position: absolute;
      right: 0;
      right: 138px;
      &--heading {
        @include fontStyle("Rufina", 700, 10.8rem, 12rem, $black);
      }
      &--text {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
      }
    }
  }

  & .quality-container {
    padding: 207px 138px 190px 138px;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    &__items-container {
      width: 508px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 39px;
      & .quality-icon-container {
        width: 260px;
        height: 260px;
        background-color: $lightGreen;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--heading {
        @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $black);
        text-align: center;
      }
      &--text {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
        text-align: center;
      }
    }
  }
}

/* Blog post section styling */

.blog-container {
  padding: 130px 138px 105px 138px;
  display: flex;
  gap: 60px;
  & .blog-post {
    max-width: 792px;
    &__img-container {
      position: relative;
    }
    &__img-container > img {
      width: 100%;
    }
    & .fashion-container {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 203px;
      height: 62px;
      background-color: $middleGreen;
      box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.08);
      display: flex;
      justify-content: center;
      align-items: center;
      & > p {
        @include fontStyle("Rufina", 700, 2.6rem, 4.8rem, $white);
      }
    }
    &__text-container {
      padding: 68px 75px 82px 72px;
      & .title-container {
        display: flex;
        align-items: center;
        gap: 14px;
        & > p {
          @include fontStyle("Lato", 400, 1.8rem, 2.2rem, $middleGreen);
          letter-spacing: 0.02em;
        }
      }
      & .text-container {
        &__heading {
          @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $black);
          margin-top: 48px;
        }
        & > img {
          margin-top: 18px;
          width: 100%;
        }
        &__text {
          @include fontStyle("Lato", 700, 2.2rem, 140%, $darkGray);
          margin-top: 18px;
        }
        &__link {
          text-decoration: none;
          & .link-container {
            display: inline-block;
            margin-top: 46px;
            & > p {
              @include fontStyle("Lato", 400, 2.4rem, 140%, $black);
              display: inline-block;
              margin-right: 10px;
            }
            & > img {
              width: 36px;
            }
          }
        }
      }
    }
  }
}

/* Reservation section styling */

.reservation-container {
  padding: 237px 138px 254px 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightGreen;
  &__heading {
    @include fontStyle("Rufina", 700, 10.8rem, 12rem, $black);
  }
  &__title {
    @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
    margin-top: 18px;
  }
  & .reservation-form {
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 133px;
    &__input-container {
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
      & > input,
      & > select {
        width: 516px;
        height: 96px;
        border: 2px solid $black;
        background: transparent;
        @include fontStyle("Lato", 400, 2.4rem, 140%, $black);
        padding-left: 40px;
      }
      & input[type="date"]::-webkit-inner-spin-button,
      input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
      & > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        background-image: url(../assets/icons/angle-down-dark-icon.svg);
        background-repeat: no-repeat;
        background-position-x: calc(100% - 40px);
        background-position-y: 50%;
        .option-style {
          background-color: $lightGreen;
          font-style: "Lato";
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
    & > button {
      width: 344px;
      height: 80px;
      background-color: $darkGreen;
      border: 2px solid #000000;
      @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
    }
  }
}

/* Product section styling */

.product-container {
  padding: 128px 138px 138px 138px;
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--heading {
      @include fontStyle("Rufina", 700, 10.8rem, 12rem, $black);
      max-width: 1101px;
      text-align: center;
    }
    &--title {
      @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGreen);
      text-align: center;
      margin-top: 18px;
    }
  }
  & .product-container__products {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 126px;
    & .image-container-01 {
      padding: 48px 48px 598px 40px;
      max-width: 508px;
      background-image: url(../assets/images/category-image-01.png);
      &__text-container {
        display: flex;
        gap: 194px;
        width: 100%;
        & > p {
          @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $darkGreen);
        }
      }
    }
    & .image-container-02 {
      padding: 48px 48px 598px 40px;
      max-width: 508px;
      background-image: url(../assets/images/category-image-02.png);
      &__text-container {
        display: flex;
        gap: 194px;
        & > p {
          @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $darkGreen);
        }
      }
    }
    & .image-container-03 {
      padding: 48px 48px 598px 40px;
      max-width: 508px;
      background-image: url(../assets/images/category-image-03.png);
      &__text-container {
        display: flex;
        gap: 194px;
        & > p {
          @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $darkGreen);
        }
      }
    }
  }
}

/* Testimonial section styling */

.testimonial-container {
  padding: 118px 229px 145px 246px;
  position: relative;
  &__text {
    @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $black);
    max-width: 1262px;
  }
  &__author-container {
    width: 100%;
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    & .author-container__internal {
      display: flex;
      align-items: center;
      gap: 60px;
      & .avatar-container__text-container {
        &--name {
          @include fontStyle("Rufina", 700, 3.2rem, 4rem, $black);
        }
        &--profession {
          @include fontStyle("Lato", 400, 1.8rem, 2.2rem, $darkGray);
          margin-top: 6px;
        }
      }
    }
    & .arrow-container {
      display: flex;
      align-items: center;
      gap: 40px;
      & > p {
        @include fontStyle("Rufino", 700, 3.2rem, 4.8rem, $black);
      }
    }
  }
  & > img {
    position: absolute;
    top: 118px;
    right: 255px;
  }
}

.footer-up__container {
  display: flex;
  background-color: $darkGreen;
  padding: 132px 138px 137px 138px;
  justify-content: space-between;
  align-items: center;
  &--heading {
    @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $white);
  }
  & .footer-up__menu {
    list-style: none;
    &-item--01 {
      @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
    }
    &-item {
      @include fontStyle("Lato", 400, 1.8rem, 2.5rem, $white);
    }
    &-item-02 {
      margin-top: 55px;
    }
    &-item-03 {
      margin-top: 28px;
    }
  }
  & .footer-up__subscribe-container {
    &--title {
      @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
    }
    & > input {
      width: 522px;
      height: 96px;
      border: 2px solid $white;
      background-color: $darkGreen;
      padding-left: 40px;
      margin-top: 55px;
      margin-right: 28px;
      outline: none;
      @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
      &:placeholder-shown {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
      }
    }
    & > button {
      width: 241px;
      height: 88px;
      background-color: $middleGreen;
      border: none;
      @include fontStyle("Rufina", 700, 3.2rem, 4.8rem, $white);
    }
    &-text {
      @include fontStyle("Lato", 400, 1.4rem, 1.7rem, $white);
      margin-top: 15px;
    }
  }
}

.footer-down__container {
  border-top: 2px dashed $white;
  background-color: $darkGreen;
  display: flex;
  justify-content: space-between;
  padding: 58px 162px 74px 138px;
  & > p {
    @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
  }
  & .footer__social-container {
    display: flex;
    gap: 28px;
  }
}
