/* Reset some CSS default styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Default font size */
html {
  font-size: 62.5%;
}

.main-container {
  max-width: 1920px;
  /* Header styling */
}
.main-container .header-section {
  background-color: #233000;
}
.main-container .header-section .header-container {
  padding: 46px 138px 47px 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-container .header-section .header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 69px;
}
.main-container .header-section .header-container .logo-container > img {
  width: 307px;
  height: 115px;
  margin-left: -20px;
}
.main-container .header-section .header-container .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-container .header-section .header-container .hamburger-menu > div {
  border: 2px solid #ffffff;
  width: 46px;
}
.main-container .header-section .header-container .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
.main-container .header-section .header-container .right-container .header-phone {
  font-family: "Inter";
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}
.main-container .header-section .header-container .right-container > a {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  padding: 20px 46px;
  border: 2px solid #ffffff;
  text-decoration: none;
}
.main-container .header-section .hero-container {
  padding: 102px 138px 222px 138px;
}
.main-container .header-section .hero-container__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main-container .header-section .hero-container__up--text-container {
  z-index: 2;
}
.main-container .header-section .hero-container__up--text-container-heading {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 14.8rem;
  line-height: 152px;
  color: #ffffff;
  max-width: 1057px;
}
.main-container .header-section .hero-container__up--text-container-title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 50px;
  max-width: 565px;
}
.main-container .header-section .hero-container__up--text-container .scroll-container {
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  left: -281px;
  top: 907px;
}
.main-container .header-section .hero-container__up--text-container .scroll-container > P {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
.main-container .header-section .hero-container__up > .hero-stake-img {
  position: absolute;
  top: 124px;
  right: 0;
}
.main-container .header-section .hero-container__up .hero-spice-img {
  width: 26rem;
  height: 24rem;
  z-index: 10;
  position: absolute;
  top: 880px;
}
.main-container .header-section .hero-container__up .spice-01 {
  right: 853px;
}
.main-container .header-section .hero-container__up .spice-02 {
  right: 569px;
}
.main-container .header-section .hero-container__up .spice-03 {
  right: 285px;
}
.main-container .header-section .hero-container__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 761px;
  gap: 344px;
}
.main-container .header-section .hero-container__down--left--heading {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 6.8rem;
  line-height: 8.4rem;
  color: #ffffff;
  max-width: 49.3rem;
  margin-top: 54px;
}
.main-container .header-section .hero-container__down--left--text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #ffffff;
  max-width: 56.5rem;
  margin-top: 5.4rem;
}
.main-container .header-section .hero-container__down--left > img {
  width: 100%;
}
.main-container .header-section .hero-container__down--right--text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #ffffff;
  max-width: 50.8rem;
}
.main-container .header-section .hero-container__down--right > img {
  margin-top: 84px;
  width: 100%;
}
.main-container .menu-container {
  background-color: #ffffff;
  background-image: url(../assets/images/bg-01.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 176px 138px 218px 138px;
}
.main-container .menu-container__header--heading {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 10.8rem;
  line-height: 12rem;
  color: #000000;
}
.main-container .menu-container__header--title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #4d4d4d;
  max-width: 532px;
}
.main-container .menu-container .menu-container__items {
  margin-top: 158px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(729px, 1fr));
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 108px;
}
.main-container .menu-container .menu-container__items--item {
  max-width: 729px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-container .menu-container .menu-container__items--item--price {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #000000;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main-container .menu-container .menu-container__items--item > img {
  margin-top: 12px;
}
.main-container .menu-container .menu-container__items--item--name {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 6.8rem;
  line-height: 8.4rem;
  color: #000000;
  margin-top: 24px;
}
.main-container .menu-container .menu-container__items--item--text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #4d4d4d;
  margin-top: 24px;
}
.main-container .cook-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 222px 138px 0 138px;
  background-color: #ebf0e4;
  position: relative;
  height: 1130px;
}
.main-container .cook-container > img {
  bottom: 0;
  left: 120px;
  position: absolute;
}
.main-container .cook-container__text {
  max-width: 649px;
  position: absolute;
  right: 0;
  right: 138px;
}
.main-container .cook-container__text--heading {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 10.8rem;
  line-height: 12rem;
  color: #000000;
}
.main-container .cook-container__text--text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #4d4d4d;
}
.main-container .quality-container {
  padding: 207px 138px 190px 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-container .quality-container__items-container {
  width: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 39px;
}
.main-container .quality-container__items-container .quality-icon-container {
  width: 260px;
  height: 260px;
  background-color: #ebf0e4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-container .quality-container__items-container--heading {
  font-family: "Rufina";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #000000;
  text-align: center;
}
.main-container .quality-container__items-container--text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #4d4d4d;
  text-align: center;
}