// Import different SCSS files for styles

@import "colors";
@import "mixins";
@import "reset";
@import "typography";

/* Default font size */

html {
  font-size: 62.5%;
}

.main-container {
  max-width: 1920px;

  /* Header styling */

  & .header-section {
    background-color: $darkGreen;
    & .header-container {
      padding: 46px 138px 47px 138px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .logo-container {
        display: flex;
        align-items: center;
        gap: 69px;
      }
      & .logo-container > img {
        width: 307px;
        height: 115px;
        margin-left: -20px;
      }
      & .hamburger-menu {
        display: flex;
        gap: 14px;
        flex-direction: column;
        & > div {
          border: 2px solid $white;
          width: 46px;
        }
      }
      & .right-container {
        display: flex;
        align-items: center;
        gap: 26px;
        & .header-phone {
          @include fontStyle("Inter", 400, 26px, 31px, $white);
        }
        & > a {
          @include fontStyle("Rufina", 700, 32px, 48px, $white);
          padding: 20px 46px;
          border: 2px solid $white;
          text-decoration: none;
        }
      }
    }
    & .hero-container {
      padding: 102px 138px 222px 138px;
      &__up {
        display: flex;
        position: relative;
        &--text-container {
          z-index: 2;
          &-heading {
            @include fontStyle("Rufina", 700, 14.8rem, 152px, $white);
            max-width: 1057px;
          }
          &-title {
            @include fontStyle("Lato", 400, 24px, 140%, $white);
            margin-top: 50px;
            max-width: 565px;
          }
          & .scroll-container {
            transform: rotate(90deg) translateY(-50%);
            position: absolute;
            display: flex;
            align-items: center;
            gap: 18px;
            left: -281px;
            top: 907px;
            & > P {
              @include fontStyle("Rufina", 700, 48px, 64px, $white);
            }
            & img {
            }
          }
        }
        & > .hero-stake-img {
          position: absolute;
          top: 124px;
          right: 0;
        }
        & .hero-spice-img {
          width: 26rem;
          height: 24rem;
          z-index: 10;
          position: absolute;
          top: 880px;
        }
        & .spice-01 {
          right: 853px;
        }
        & .spice-02 {
          right: 569px;
        }
        & .spice-03 {
          right: 285px;
        }
      }
      &__down {
        display: flex;
        margin-top: 761px;
        gap: 344px;
        &--left {
          &--heading {
            @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $white);
            max-width: 49.3rem;
            margin-top: 54px;
          }
          &--text {
            @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
            max-width: 56.5rem;
            margin-top: 5.4rem;
          }
          & > img {
            width: 100%;
          }
        }
        &--right {
          &--text {
            @include fontStyle("Lato", 400, 2.4rem, 140%, $white);
            max-width: 50.8rem;
          }
          & > img {
            margin-top: 84px;
            width: 100%;
          }
        }
      }
    }
  }
  & .menu-container {
    background-color: $white;
    background-image: url(../assets/images/bg-01.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 176px 138px 218px 138px;
    &__header {
      &--heading {
        @include fontStyle("Rufina", 700, 10.8rem, 12rem, $black);
      }
      &--title {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
        max-width: 532px;
      }
    }
    & .menu-container__items {
      margin-top: 158px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(729px, 1fr));
      column-gap: 60px;
      row-gap: 108px;
      &--item {
        max-width: 729px;
        display: flex;
        flex-direction: column;
        &--price {
          @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $black);
          align-self: flex-end;
        }
        & > img {
          margin-top: 12px;
        }
        &--name {
          @include fontStyle("Rufina", 700, 6.8rem, 8.4rem, $black);
          margin-top: 24px;
        }
        &--text {
          @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
          margin-top: 24px;
        }
      }
    }
  }
  & .cook-container {
    display: flex;
    padding: 222px 138px 0 138px;
    background-color: $lightGreen;
    position: relative;
    height: 1130px;
    & > img {
      bottom: 0;
      left: 120px;
      position: absolute;
    }
    &__text {
      max-width: 649px;
      position: absolute;
      right: 0;
      right: 138px;
      &--heading {
        @include fontStyle("Rufina", 700, 10.8rem, 12rem, $black);
      }
      &--text {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
      }
    }
  }

  & .quality-container {
    padding: 207px 138px 190px 138px;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    &__items-container {
      width: 508px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 39px;
      & .quality-icon-container {
        width: 260px;
        height: 260px;
        background-color: $lightGreen;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--heading {
        @include fontStyle("Rufina", 700, 4.8rem, 6.4rem, $black);
        text-align: center;
      }
      &--text {
        @include fontStyle("Lato", 400, 2.4rem, 140%, $darkGray);
        text-align: center;
      }
    }
  }
}
